*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  direction: rtl;
  text-align: right;
  /* background-color: green; */
}
@font-face {
  font-family: 'iran-sans';
  src: url('./assets/fonts/IRANSansXBold.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'iran-sans', sans-serif;
}

.login-container {
  display: flex;
  height: 100vh;
}

.login-image {
  flex: 1;
  background-image: url('./assets/images/image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.login-form {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.login-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  /* background-color: red; */
}

.form-label {
  text-align: right;
  width: 100%;
}
@media (max-width:768px) {
  .login-image{
    display: none;
  }
}
.MuiDrawer-paper {
  direction: rtl; /* جهت‌گیری کلی سایدبار */
}

.MuiListItemText-root {
  text-align: right; /* راست‌چین کردن متن آیتم‌ها */
}
